.caja {
    margin:10px auto 10px auto;	
    /*border:1px solid rgb(225, 40, 54);*/
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
    background: transparent;
 }
 select {
  
    background-color: white;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    color: white; /*letra*/
    
 }
 select:focus{ outline: none;}
 
 .caja::after{
     background: transparent;

   content:"\025be";
   display:table-cell;
   padding-top:7px;
   text-align:center;
   color: white; /*flehca*/
   width:30px;
   height:30px;
   background-color:rgb(225, 40, 54);

  /* border-bottom: 2px solid  rgb(225, 40, 54);*/
   position:absolute;
   top:0;
   right:0px;	
   pointer-events: none;
 }
 