@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  color: #333333;
  background-color: #eeeeee;
}

body.is-froze {
  overflow: hidden;
  background-color: white ;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Open Sans", sans-serif;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

a {
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #7d87a8;
}

.main {
  overflow: hidden;
  position: relative;
  background-size: cover;
  width: 100%;
  width: calc(100% - 60px);
  background-color:white ;
  height: 100vh;
  margin-left: 60px;
  background-repeat: no-repeat;
	/*background-image: url(https://i.ibb.co/k9yb8Y2/31313-azul.jpg);*/
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(1) translate3d(0, 0, 0);
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  will-change: width, height, opacity, transform, clip-path;
  z-index: 1;
}
.main.is-active {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  width: calc(100vw - 60px);
  pointer-events: none;
  opacity: 0.25;
  transform: scale(0.9) translate3d(60%, 0, 0);
}
@media (min-width: 600px) {
  .main.is-active {
    transform: scale(0.9) translate3d(40%, 0, 0);
  }
}
.main.is-transition-out {
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
}

.hero__content,
.content {
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  background-color: #09ffd6b0;
}

.hero__content {
  width: 100%;
  padding: 1.5rem;
  color: #4b5165;
  z-index: 1;
}
@media (min-width: 600px) {
  .hero__content {
    padding: 6vmin;
  }
}

.hero__heading {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 600px) {
  .hero__heading {
    font-size: 3rem;
  }
}

.hero__subheading {
  margin: 1rem 0 0;
  text-transform: uppercase;
  font-size: 1.25rem;
}
@media (min-width: 600px) {
  .hero__subheading {
    font-size: 1.5rem;
  }
}
.hero__subheading,
.hero__subheading a {
  color: #4b5165;
}

.article {
  padding: 1.5rem;
  position: relative;
}
@media (min-width: 600px) {
  .article {
    padding: 6vmin;
  }
}
.article:not(:last-of-type):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  width: 50px;
  height: 2px;
  background-color: #7d87a8;
}
@media (min-width: 600px) {
  .article:not(:last-of-type):after {
    left: 6vmin;
  }
}

.article__title {
  display: block;
  position: relative;
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #191b22;
}
@media (min-width: 600px) {
  .article__title {
    font-size: 3vmin;
  }
}
.article__title:hover {
  color: #7d87a8;
}

.article__time {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
	color: white;
}
@media (min-width: 600px) {
  .article__time {
    font-size: 1.5vmin;
  }
}

.article__content {
  margin: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .article__content {
    font-size: 2vmin;
  }
}

.nav__bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  border-right: 1px solid rgba(125, 135, 168, 0.25);
  background-color: #000000;
  z-index: 99;
}

.nav__trigger {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 8px 0;
  margin-top: -10px;
  transition: 0.2s ease-in-out;
  z-index: 99;
}
.nav__trigger .bars {
  position: relative;
}
.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #0038f0;
  
  transition: 0.2s ease-in-out;
  border-radius: 4px;
}
.nav__trigger .bars:before, .nav__trigger .bars:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.nav__trigger .bars:before {
  transform: translateY(-8px);
}
.nav__trigger .bars:after {
  transform: translateY(8px);
}
.nav__trigger.is-active {
  transform: rotate(-45deg);
}
.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
  transform: translateX(0) rotate(-90deg);
}

.navv {
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  z-index: 0;
}

.nav__list {
  overflow: hidden;
  position: absolute;
  top: 55%;
  left: 0;
  width: 40%;
  margin: 0;
  padding-left: 60px;
  list-style: none;
  font-family: "Raleway", "Open Sans", sans-serif;
  transform: translateY(-50%);
 
  background-color: rgba(0, 247, 255, 0.397) ;
}
.nav__list .nav__item {
  
  padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
  .nav__list .nav__item {
    width: 33.3333333333%;
    padding: 0.5rem 1rem;
  }
}
.nav__list a {
  display: inline-block;
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}
.nav__list a:hover {
  color: #000000;
}
.nav__list a.is-active {
  color: #000000;
}
@media (min-width: 600px) {
  .nav__list a {
    font-size: 1.5rem;
  }
}
/*INICIA COLOR A LOS TITULOS*/

.heading { 
	color: #ffffff; 
	font-size: 200%;
}
/*FINALIZA COLOR A LOS TITULOS*/
/*EMPIEZA CSS DE LA LISTA DESPEGABLE*/
* {
	margin:1px;
	padding:0px;
}

#header {
	margin:auto;
	width:900px;
	font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
	list-style:none;
}

.navList {
	width:6000px; /*Le establecemos un ancho*/
	margin:0 auto; /*Centramos automaticamente*/
}

.navList > li {
	float:left;
}

.navList li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.navList li a:hover {
	background-color:#000000;
}

.navList li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.navList li:hover > ul {
	display:block;
}

.navList li ul li {
	position:relative;
}

.navList li ul li ul {
	right:-140px;
	top:0px;
}
/*FINALIZA CSS DE LA LISTA DESPEGABLE*/


.botonR {
  padding: 1.9rem;
	color: #ffffff; 
  position: relative;
	font-weight: 800;
  text-align: center;

}



.hero__headingT {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
	color: white;
	line-height: 2; 

}

/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);
*,
*:before,
*:after {
  box-sizing: border-box;
}


html {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  color: #333333;
  background-color: #eeeeee;
}

body.is-froze {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.heading { 
	color: #ffffff; 
	font-size: 200%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Open Sans", sans-serif;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

a {
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #7d87a8;
}

.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  width: calc(100% - 60px);
  height: 100vh;
  margin-left: 60px;




	background-image: url(https://i.ibb.co/1Mjh3BB/cyber-3400789-1920.jpg);
  background-color: transparent;
 background-color:rgb(0, 174, 255);
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(1) translate3d(0, 0, 0);
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  will-change: width, height, opacity, transform, clip-path;
  z-index: 1;
}
.main.is-active {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  width: calc(100vw - 60px);
  pointer-events: none;
  opacity: 0.25;
  transform: scale(0.9) translate3d(60%, 0, 0);
}
@media (min-width: 600px) {
  .main.is-active {
    transform: scale(0.9) translate3d(40%, 0, 0);
  }
}
.main.is-transition-out {
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
}

.hero__content,
.content {
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  background-color: #0235ff49;
}

.hero__content {
  width: 100%;
  padding: 1.5rem;
  color: #4b5165;
  z-index: 1;
}
@media (min-width: 600px) {
  .hero__content {
    padding: 6vmin;
  }
}

.hero__heading {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 600px) {
  .hero__heading {
    font-size: 1rem;
  }
}

.hero__subheading {
  margin: 1rem 0 0;
  text-transform: uppercase;
  font-size: 1.25rem;
}
@media (min-width: 600px) {
  .hero__subheading {
    font-size: 1.5rem;
  }
}
.hero__subheading,
.hero__subheading a {
  color: #4b5165;
}

.article {
  padding: 1.5rem;
	color: #ffffff; 
  position: relative;
}
@media (min-width: 600px) {
  .article {
    padding: 6vmin;
  }
}
.article:not(:last-of-type):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  width: 50px;
  height: 2px;
  background-color: #7d87a8;
}
@media (min-width: 600px) {
  .article:not(:last-of-type):after {
    left: 6vmin;
  }
}

.article__title {
  display: block;
  position: relative;
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #191b22;
}
@media (min-width: 600px) {
  .article__title {
    font-size: 3vmin;
  }
}
.article__title:hover {
  color: #7d87a8;
}

.article__time {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .article__time {
    font-size: 1.5vmin;
  }
}

.article__content {
  margin: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .article__content {
    font-size: 2vmin;
  }
}

.nav__bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  border-right: 1px solid rgba(125, 135, 168, 0.25);
  background-color: #191b22;
  z-index: 99;
}

.nav__trigger {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 8px 0;
  margin-top: -10px;
  transition: 0.2s ease-in-out;
  z-index: 99;
}
.nav__trigger .bars {
  position: relative;
}
.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #7d87a8;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
}
.nav__trigger .bars:before, .nav__trigger .bars:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.nav__trigger .bars:before {
  transform: translateY(-8px);
}
.nav__trigger .bars:after {
  transform: translateY(8px);
}
.nav__trigger.is-active {
  transform: rotate(-45deg);
}
.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
  transform: translateX(0) rotate(-90deg);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #191b22;
  z-index: 0;
}

.nav__list {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding-left: 60px;
  list-style: none;
  font-family: "Raleway", "Open Sans", sans-serif;
  transform: translateY(-50%);
}
.nav__list .book-btn {
  padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
  .nav__list .book-btn {
    width: 33.3333333333%;
    padding: 0.5rem 1rem;
  }
}
.nav__list a {
  display: inline-block;
  color: #7d87a8;
  font-size: 1rem;
  line-height: 1.5;
}
.nav__list a:hover {
  color: #b1b7cb;
}
.nav__list a.is-active {
  color: #d2d5e1;
}
@media (min-width: 600px) {
  .nav__list a {
    font-size: 1.5rem;
  }
}

* {
	margin:0px;
	padding:0px;
}

#header1 {
	margin:auto;
	width:550px;
	font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
	list-style:none;
}

.nav1 > li {
	float:left;
}

.nav1 li a {
	background-color:rgba(0, 0, 0, 0.315);
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav1 li a:hover {
	background-color:#434343;
}

.nav1 li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav1 li:hover > ul {
	display:block;
}

.nav1 li ul li {
	position:relative;
}

.nav1 li ul li ul {
	right:-140px;
	top:0px;
}


.top-area {
	position: absolute;
	width: 100%;
}


.header-area{
	position:relative;
	width: 100%;
}

.sticky-wrapper 
.sticky-wrapper {
	position: relative;
	z-index: 2;
	transition:.7s;
}

.is-sticky .header-area:after{
	position:absolute;
	content:'';
	background: rgba(77,78,84,1);
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:-1;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition: all 0.5s linear;
}
.sticky-wrapper.is-sticky .main-menu .nav a:before{
	bottom: 17.6px;
}.sticky-wrapper 

.filtr-container .filtr-item {
	overflow:hidden;
	float: left;
	position:relative;
	margin-bottom: 30px;
	overflow:hidden;
}

.filtr-container .filtr-item img{
	width:100%;
	height:100%;
	transition:.5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.filtr-container .filtr-item:hover  img{
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}

.filtr-container .filtr-item:hover .item-title a,
.filtr-container .filtr-item:hover .item-title p{
    color:#2cdbb5;
}




.logo a, .logo a:hover, .logo a:focus{
	color: #fff;
	font-size:24px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	font-weight: 600;
	margin: 14px 0px 0;
	padding: 10px 0 0 0;
}
.logo a span{
	color: #00d8ff;
	text-transform: capitalize;
}



.main-menu {position:relative;}
.main-menu ul .nav .navbar-nav {
    text-align:right;
    float:none;
}
.main-menu .nav li {
    position:relative;
    padding: 16px 12px 0px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition: all 0.2s linear;
}
.main-menu .nav li a{
    padding: 11px 0 29px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
.main-menu  .nav  li.active a,
.main-menu  .nav  li a:hover,
.main-menu .nav  li a:focus{
    color: #00d8ff;
    background-color:transparent;
}
.main-menu .nav a:before{
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    bottom: -2.4px;
    left: 0;
    background: transparent;
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}
.main-menu .nav li.active  a:before,
.main-menu .nav a:hover:before{
    background: #00d8ff;
    width: 100%;
}


.main-menu .navbar-toggle {
    margin-top: 5px;
    border: 1px solid;
    font-size: 16px;
    float:left;
}
.main-menu .navbar-toggle {
    color: #00d8ff;
}
.main-menu .navbar-default .navbar-toggle:focus, 
.main-menu .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}



.main-menu .navbar-toggle {
	margin-top: 5px;
	border: 1px solid;
	font-size: 16px;
	float:left;
}
.main-menu .navbar-toggle {
	color: #00d8ff;
}
.main-menu .navbar-default .navbar-toggle:focus, 
.main-menu .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}


.book-btn1 {
    
	top: 5px;
 background: #00d8ff;
	border: 1px solid #00d8ff;
	width: 150px;
	height: 40px;
	position: fixed;
	text-align: center;
	color: #fff;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	border-radius: 10px;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.book-btn1:hover{
	top: 15px;
	color: #fff;
	background: #00d8d5;
	border: 1px solid #00d8d5;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
*/
